MWI.USMA Validation

- Import

In [2]:
import pandas as pd

- Explore

In [3]:
df = pd.read_csv('mwi_usma2kv1.csv')
print(df.index)
df.head()

RangeIndex(start=0, stop=2231, step=1)

,article_link,title,author,author_link,article_content
0,https://mwi.usma.edu/the-lessons-of-two-decade...,The Lessons of Two Decades of War: A Review of...,Andrew Maher,https://mwi.usma.edu/author/andrew-maher/,The Irregular Warfare Initiative’s inaugural c...
1,https://mwi.usma.edu/can-cyberattacks-stop-ira...,Can Cyberattacks Stop Iran's Propaganda Machin...,Sean Lawson,https://mwi.usma.edu/author/sean-lawson/,"In mid-October, Reuters reported that the Unit..."
2,https://mwi.usma.edu/remember-remember-fifth-n...,"Remember, Remember the Fifth of November: Radi...",ML Cavanaugh,https://mwi.usma.edu/author/ml-cavanaugh/,"Once you’ve seen a person hung, drawn, and qua..."
3,https://mwi.usma.edu/enablers-less-effects-us-...,"More Enablers, Less Effects: How the US Air Fo...",Heather Venable,https://mwi.usma.edu/author/heather-venable/,"There’s an app to win wars, or so Air Force Ch..."
4,https://mwi.usma.edu/the-law-of-armed-and-unma...,The Law of Armed—and Unmanned—Conflict - Moder...,Charles Dunlap,https://mwi.usma.edu/author/charles-dunlap/,President Joe Biden’s decision to double down ...

In [4]:
df.describe()

,article_link,title,author,author_link,article_content
count,2231,2231,2231,2231,2224
unique,2226,2222,702,702,2218
top,https://mwi.usma.edu/2014104clear-strategic-th...,On Growing Strategists: Beating Back the Crede...,John Amble,https://mwi.usma.edu/author/john-amble/,Image courtesy of Flikr user UK Ministry of D...
freq,2,2,199,199,2

In [5]:
# show only the rows where the 'article_link' column does not start with 'https'
non_https_rows = df[~df['article_link'].str.startswith('http')]

# print the resulting dataframe
print(non_https_rows)

Empty DataFrame
Columns: [article_link, title, author, author_link, article_content]
Index: []

- Drop

In [6]:
#checking the number of missing values in each columns
df.isna().sum()

article_link       0
title              0
author             0
author_link        0
article_content    7
dtype: int64

In [7]:
# drop rows with missing values and reset the index
df = df.dropna().reset_index(drop=True)
df.isna().sum()

article_link       0
title              0
author             0
author_link        0
article_content    0
dtype: int64

In [8]:
#duplicate values
df.duplicated().sum()

5

In [9]:
df = df.drop_duplicates().reset_index(drop=True)
df.duplicated().sum()

0

In [10]:
df.describe()

,article_link,title,author,author_link,article_content
count,2219,2219,2219,2219,2219
unique,2219,2215,701,701,2218
top,https://mwi.usma.edu/the-lessons-of-two-decade...,MWI Podcast: Zombies and Global Security - Mod...,John Amble,https://mwi.usma.edu/author/john-amble/,In this episode of the Modern War Institute po...
freq,1,2,199,199,2

In [11]:
df = df.drop_duplicates(subset=['article_content'], keep='first')
df = df.drop_duplicates(subset=['title'], keep='first')
df.describe()

,article_link,title,author,author_link,article_content
count,2214,2214,2214,2214,2214
unique,2214,2214,701,701,2214
top,https://mwi.usma.edu/the-lessons-of-two-decade...,The Lessons of Two Decades of War: A Review of...,John Amble,https://mwi.usma.edu/author/john-amble/,The Irregular Warfare Initiative’s inaugural c...
freq,1,1,197,197,1

In [12]:
def is_article(row):
    # check if the 'article_content' column contains at least 100 characters (change this threshold as needed)
    return len(row['article_content']) > 50

# apply the 'is_article' function to each row and select only the rows that contain an article
article_rows = df[~df.apply(is_article, axis=1)]

# print the resulting dataframe
print(article_rows)

                                           article_link  \
908   https://mwi.usma.edu/royal-united-services-ins...
1614  https://mwi.usma.edu/drone-swarms-change-urban...

                                                  title        author  \
908   Royal United Services Institute’s Annual Trenc...     MWI Staff
1614  How Drone Swarms Could Change Urban Warfare - ...  John Spencer

                                    author_link  \
908      https://mwi.usma.edu/author/mwi-staff/
1614  https://mwi.usma.edu/author/john-spencer/

                       article_content
908      Trench Gascoigne Essay Prize
1614      Image credit: DroneOmega.com

In [13]:
#dropping rows that contains non-news data
df = df.drop([908, 1614]).reset_index(drop=True)
df.loc[907:911]

,article_link,title,author,author_link,article_content
907,https://mwi.usma.edu/stuck-in-the-sand-why-the...,Stuck in the Sand: Why the Joint Light Tactica...,Walker Mills,https://mwi.usma.edu/author/walker-mills/,In 2020 the US military requested an eye-poppi...
908,https://mwi.usma.edu/mwi-podcast-building-mili...,MWI Podcast: Building Militaries in Fragile St...,Jake Miraldi,https://mwi.usma.edu/author/jake-miraldi/,"In this episode of the MWI Podcast, Maj. Jake ..."
909,https://mwi.usma.edu/waterworld-how-ukraine-fl...,Waterworld: How Ukraine Flooded Three Rivers t...,John Spencer,https://mwi.usma.edu/author/john-spencer/,Off the eastern coast of central Greece sit hi...
910,https://mwi.usma.edu/mwi-podcast-will-technolo...,MWI Podcast: How will Technology Change Future...,John Amble,https://mwi.usma.edu/author/john-amble/,Artificial intelligence. Quantum computing. Na...
911,https://mwi.usma.edu/counterterrorism-and-the-...,Counterterrorism and the Israel-Palestine Conf...,Molly Ellenberg,https://mwi.usma.edu/author/molly-ellenberg/,"Ami Ayalon, Friendly Fire: How Israel Became I..."

In [14]:
df.describe()

,article_link,title,author,author_link,article_content
count,2212,2212,2212,2212,2212
unique,2212,2212,701,701,2212
top,https://mwi.usma.edu/the-lessons-of-two-decade...,The Lessons of Two Decades of War: A Review of...,John Amble,https://mwi.usma.edu/author/john-amble/,The Irregular Warfare Initiative’s inaugural c...
freq,1,1,197,197,1

- Add

In [23]:
#adding the article type column
df['article_type'] = ['opinion' for x in range(len(df))]

In [24]:
df.describe()

,article_link,title,author,author_link,article_content,article_type
count,2212,2212,2212,2212,2212,2212
unique,2212,2212,701,701,2212,1
top,https://mwi.usma.edu/the-lessons-of-two-decade...,The Lessons of Two Decades of War: A Review of...,John Amble,https://mwi.usma.edu/author/john-amble/,The Irregular Warfare Initiative’s inaugural c...,opinion
freq,1,1,197,197,1,2212

- Export

In [25]:
df.to_csv('mwi_usma2kv1_validated.csv', index=False)